.App {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100vh;
}

.App header h1 {
  margin: 0;
  padding-bottom: 16px;
}

.AppMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.AppMain h2 {
  text-align: center;
}

/* Markdown-To-JSX */
.AppMain .markdownToJsx article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.AppMain .markdownToJsx article table {
  border-collapse: collapse;
  border: 1px solid black;
}
.AppMain .markdownToJsx article th {
  border: 1px solid black;
  background-color: lightgrey;
}
.AppMain .markdownToJsx article td {
  border: 1px solid black;
}

/* React-Markdown */
.AppMain .reactMarkdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.AppMain .reactMarkdown table {
  border-collapse: collapse;
  border: 1px solid black;
}
.AppMain .reactMarkdown th {
  border: 1px solid black;
  background-color: lightgrey;
}
.AppMain .reactMarkdown td {
  border: 1px solid black;
}

/* Marked-React */
.AppMain .markedReact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.AppMain .markedReact table {
  border-collapse: collapse;
  border: 1px solid black;
}
.AppMain .markedReact th {
  border: 1px solid black;
  background-color: lightgrey;
}
.AppMain .markedReact td {
  border: 1px solid black;
}

/* Resaltado */
.resaltadoContainerH3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.resaltadoContainerP {
  font-size: 16px;
  line-height: 26px;
}
.resaltadoContainerEm {
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
}
.resaltadoContainerBQ {
  background-color: rgb(229, 229, 229);
  font-style: italic;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  line-height: 26px;
}
.resaltado {
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
}
