.App {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100vh;
}

.App header h1 {
  margin: 0;
  padding-bottom: 16px;
}

.AppMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Markdown-To-JSX */
.AppMain .markdownToJsx article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}
.AppMain .markdownToJsx article table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.AppMain .markdownToJsx article th {
  border: 1px solid black;
  background-color: lightgrey;
}
.AppMain .markdownToJsx article td {
  border: 1px solid black;
}

/* React-Markdown */
.AppMain .reactMarkdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}
.AppMain .reactMarkdown table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.AppMain .reactMarkdown th {
  border: 1px solid black;
  background-color: lightgrey;
}
.AppMain .reactMarkdown td {
  border: 1px solid black;
}